<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.poll.dao.OptionsMapper">

<!-- 查询所有的课程信息 -->
  <select id="findAll" resultType="com.briup.apps.poll.bean.Options">
    select * from poll_options
  </select>
   
  <!-- 根据id删除课程信息 -->
  <delete id="deleteById" parameterType="long">
  	delete from poll_options where id = #{id}
  </delete>
  
  <!-- 保存课程信息 -->
  <insert id="save" parameterType="com.briup.apps.poll.bean.Options">
  	insert into poll_options values(null,#{lable},#{name},#{score},#{question_id})
  </insert>
  
  <update id="update" parameterType="com.briup.apps.poll.bean.Options" >
        update poll_options set lable=#{lable},name=#{name},score=#{score},question_id=#{question_id} where id = #{id}
      </update>
</mapper>
 
